
.container {
    height: 700px;
    width: 100%;
}

#social{
    background: #F5F5F5;
    float: left;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

#social li{

    float: left;
    list-style: none;
    margin-left: 10px;
}

#social li:before{
    content: "|  ";
    color: #aaaaaa;
}

#social li:nth-child(1):before{
    content: "";
}

#social a{
    color: #666666;
    text-decoration:none;
}

#social ul{
    float: left;
}
